<section class="section about-2 position-relative pt-5 pb-5" style="background-color:var(--main-500) !important; color:white !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center align-content-center">
          <div class="about-item pr-3 mb-5 mb-lg-0">
            
            <h2 class="mt-3 mb-4 position-relative content-title" style="color:white;">Compromiso</h2>
            <p class="mb-5 parrafo">En PROBISA, como se expresa en el Manifiesto del Grupo VINCI, consideramos que nuestro desempeño no puede reducirse a nuestros resultados económicos y financieros. Por ello, prestamos especial atención a la prevención de riesgos y nuestra responsabilidad social. También estamos comprometidos, en todas nuestras actividades, a demostrar altos estándares ambientales y éticos.</p>
  
          <!--  <a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-item-img">
            <img loading="lazy" src="assets/Images/bien-etiquetadas/compromiso-probisa.jpg" alt="about-image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
    
  <!-- Section About Start -->
  <section class="section about-2 position-relative pt-5 pb-5">
    <div class="container">
      <div class="row">
  
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            PREVENCIÓN DE RIESGOS, SALUD Y SEGURIDAD
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
       
        <section class="section about-2 position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-item-img">
                            <img loading="lazy" src="assets/Images/bien-etiquetadas/prevencion-probisa.jpg" alt="about-image" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center align-content-center">
                        <div class="about-item pr-3 mb-5 mb-lg-0">
                            
                            <!-- <h2 class="mt-3 mb-4 position-relative content-title">Terminales</h2> -->
                            <p class="mb-5 parrafo">En PROBISA desde el 2019 estamos implementando en las 4 plantas, el Plan Anual de Seguridad. Nuestra hoja de ruta, es construida entre todos, prevencionistas de riesgo, gerentes/ jefes de planta, comunicaciones y colaboradores. De esta forma cada año se revisan las prioridades en torno a seguridad, prevención y priorización de riesgos. Las que derivan en actividades, planes de gestión proactiva de la seguridad, capacitaciones, redacción de protocolos, estandarización y actualización de procedimientos, entre otras iniciativas, que nos permiten fomentar una cultura de seguridad. Este año ya definimos nuestros cuatro principales ejes de gestión para el Plan de Seguridad 2022, los que se definieron como: Estandarización, Cultura de Seguridad, que considera el seguir cuidándonos del COVID 19, Sustentabilidad e Integración. Grandes desafíos, que nos mantendrán activos y alertas para prevenir y mitigar riesgos en nuestras operaciones.</p>
        
                        <!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            CERO ACCIDENTE
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            

            <section class="section about-2 position-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-item-img">
                                <img loading="lazy" src="assets/Images/bien-etiquetadas/probisa-seguridad.jpg" alt="about-image" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center align-content-center">
                            <div class="about-item pr-3 mb-5 mb-lg-0">
                                
                                <!-- <h2 class="mt-3 mb-4 position-relative content-title">Terminales</h2> -->
                                <p class="mb-5 parrafo">En Productos Bituminosos S.A. tenemos el propósito de generar un ambiente de trabajo grato y seguro, aportando en la productividad nacional y comprometiéndonos con el bienestar de los colaboradores y de sus familias, por lo cual año a año se define el Plan de Trabajo de Prevención de Riesgos el cual tiene como propósito lograr “cero accidente” de acuerdo a las directrices de Vinci. 
          
                                <br>
                                  Desarrollar un programa de trabajo el cual contribuirá en la consolidación de una cultura de seguridad y salud en el trabajo que conduzca al resguardo de la vida y la salud de los trabajadores, además de controlar riesgos inherentes a las labores que se realizan dentro de la organización, a través de la correcta implementación de las actividades acordadas en este Plan de Trabajo de Prevención de Riesgos las cuales están orientadas a reducir la accidentabilidad y enfermedades profesionales.</p>
            
                            <!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>


        </div>
      </div>
    </div>


      </div>
 
  
    </div>
    </div>
  </section>








  
  
  
  <!--  Section Estrategias -->
  <section class="section about-2 position-relative pt-5 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center align-content-center">
          <div class="about-item pr-3 mb-5 mb-lg-0">
            
            <h2 class="mt-3 mb-4 position-relative content-title">Medio Ambiente y Crecimiento Sustentable</h2>
            <p class="mb-5 parrafo">Nuestra política medioambiental pretende contribuir a tres grandes retos: la lucha contra el cambio climático, el ahorro de los recursos naturales a través del reciclaje y la preservación de la biodiversidad. Este enfoque global toma la forma de acciones locales, a menudo en asociación, implementadas a lo largo del tiempo. Constituye un eje fuerte que dinamiza nuestra política de innovación, tanto en los procesos como en los gestos de la profesión.
  
            En PROBISA entendemos la importancia de cuidar y preservar el medio ambiente, por lo que contamos con un proceso de mejora permanente en la gestión ambiental. Para ello, se ha desarrollado una política que está en plena etapa de implementación.
  
            Para poder cumplir con el objetivo medioambiental del grupo VINCI, debemos reducir la huella de carbono en un 30% al año 2030. Por esta razón PROBISA se ha trazado un plan en el cual se puede destacar:</p>
  
          <!--  <a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center align-content-center">
          <div class="about-item-img">
            <img loading="lazy" src="assets/Images/bien-etiquetadas/mebio-ambiente-probisa.jpg" alt="about-image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  Estrategias End -->
  
  
  <!-- Section Testimonial Start -->
  <section class="section pt-0 pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <p class="mb-5 parrafo">
            -Cambiamos el uso de combustible más limpio y amigable con el medio ambiente, de Diesel a gas Licuado en todas sus plantas. No usamos combustibles líquidos. <br/>
            -Inversión en nuevos equipos térmicos en la sucursal de Mejillones y pronto en su casa Matriz de Santiago.<br/>
            -Hemos cambiado el uso de solventes basados en hidrocarburos por solventes vegetales sin contenido de azufre.<br/>
            -Comprometidos a bajar en un 30% las emisiones de CO2, a través del programa GAIA, herramienta del grupo que permite evaluar y comparar alternativas técnicas del punto de vista del impacto ambiental, compromiso enmarcado en las políticas de Vinci.<br/>
            -Evaluación permanente de emisiones de CO2.
            </p>
        </div>
      </div>
    </div>    
  </section>
  <!-- Section Testimonial End -->
  
  
  
  <!--  Section Estrategias -->
  <section class="section about-2 position-relative pt-5" style="background-color:var(--main-500) !important; color:white !important;">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 d-flex align-items-center align-content-center">
                  <div class="about-item pr-3 mb-5 mb-lg-0">
                      
                      <h2 class="mt-3 mb-4 position-relative content-title" style="color:white">Bienestar</h2>
                      <p class="mb-5 parrafo">
                          Uno de los compromisos que tenemos como empresa, es la búsqueda permanente del bienestar de nuestros colaboradores, tratando de ser un aporte tanto en su vida laboral como personal, a través de diferentes actividades, programas, instituciones y personas que colaboran con ello.
              Hemos avanzado en el tiempo y sabemos que aún nos queda mucho camino por recorrer, que es un trabajo dinámico y constante, pues reconocemos el capital humano como motor principal en estos tiempos.
                      </p>
  
                  <!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
                  </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center">
                  <div class="about-item-img">
                      <img loading="lazy" src="assets/Images/bien-etiquetadas/bienestar-probisa.jpg" alt="about-image" class="img-fluid">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--  Estrategias End -->
  
