<!-- Section About Start -->
<section class="section about-2 position-relative pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-item-img">
          <img loading="lazy" src="assets/Images/bien-etiquetadas/trabajador-f.jpg" alt="about-image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center align-content-center">
        <div class="about-item pr-3 mb-5 mb-lg-0" data-aos="fade-up">

          <h2 class="mt-3 mb-4 position-relative content-title">Actividades</h2>
          <p class="mb-5 parrafo">En cada una de sus instalaciones, PROBISA elabora y distribuye una amplia gama de productos
            asfalticos los cuales responden a las distintas especificaciones establecidas por los distintos organismos
            tales como el Ministerio de Obras Publicas a través de sus Direcciones de Vialidad y Aeropuertos, Ministerio
            de la Vivienda a través del Servicio de Vivienda y Urbanismo (SERVIU), Municipios y Concesionarias
            viales.<br>
            En PROBISA, hemos establecido, como compromiso permanente, el suministrar productos asfálticos confiables y
            servicios relacionados que satisfagan íntegramente las expectativas de nuestros clientes, el desarrollo de
            productos de excelencia es consecuencia de la disposición de materiales de calidad, del trabajo de personas
            calificadas, del uso de equipos adecuados y de una relación permanente con nuestros proveedores.
            Para PROBISA, es de real importancia que a través de su participación en el mercado del asfalto, ser un
            actor importante en el desarrollo de la infraestructura vial y un aporte a la economía del país.</p>

          <!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
        </div>
      </div>

    </div>
  </div>
</section>

<!--  Section Estrategias -->
<section class="section about-2 position-relative pt-5 pb-5"
  style="background-color:var(--main-500) !important; color:white !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center align-content-center">
        <div class="about-item pr-3 mb-5 mb-lg-0" data-aos="fade-down">

          <h2 class="mt-3 mb-4 position-relative content-title" style="color:white !important;">Importación</h2>
          <p class="mb-5 parrafo">PROBISA desde el año 2010 se ha posicionado como el principal importador de asfalto en el
            país, para ello opera principalmente en los Puertos de Arica, Mejillones, Ventanas y próximamente en el
            Puerto de San Vicente, importando más de 70.000 TM por año.</p>

          <!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-item-img" data-aos="fade-up">
          <img loading="lazy" src="assets/Images/bien-etiquetadas/barco-probisa.jpg" alt="about-image"
            class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Estrategias End -->


<!-- Section About Start -->
<section class="section about-2 position-relative pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-item-img" data-aos="fade-up">
          <img loading="lazy" src="assets/Images/bien-etiquetadas/terminales-probisa.jpg" alt="about-image"
            class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center align-content-center">
        <div class="about-item pr-3 mb-5 mb-lg-0" data-aos="fade-down">

          <h2 class="mt-3 mb-4 position-relative content-title">Terminales</h2>
          <p class="mb-5 parrafo">PROBISA mantiene la red de terminales más grande de Chile. 71 estanques para el almacenamiento
            de productos, con una capacidad total de 41.000 MT.</p>

          <!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
        </div>
      </div>

    </div>
  </div>
</section>



<!--  Section Estrategias -->
<section class="section about-2 position-relative pt-5 pb-5"
  style="background-color:var(--main-500) !important; color:white !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center align-content-center">
        <div class="about-item pr-3 mb-5 mb-lg-0" data-aos="fade-down">

          <h2 class="mt-3 mb-4 position-relative content-title" style="color:white">Transporte</h2>
          <p class="mb-5 parrafo">
            PROBISA para sus operaciones logísticas, cuenta con una flota para el transporte a granel de asfalto
            compuesta por 62 equipos térmicos, distribuidos a lo largo de sus Plantas y Terminales en el país.
          </p>

          <!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
        <div class="about-item-img">
          <img loading="lazy" src="assets/Images/bien-etiquetadas/camiones-probisa.jpg" alt="about-image"
            class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Estrategias End -->


<!-- Section Testimonial Start -->
<section class="section about-2 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-down">
        <h2 class="mt-3 mb-4 position-relative content-title">HISTORIA</h2>
        <p class="mb-5 parrafo">
          PRODUCTOS BITUMINOSOS S.A., PROBISA. Pertenece al grupo francés VINCI a través de su filial VINCI CONSTRUCTION
          y está presente en el mercado de productos asfálticos en Chile desde el año 1995.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="historyDiv" class="container carousel carousel-dark slide" data-bs-ride="carousel" data-aos="fade-up">

    <div class="row carousel-indicators">
      <button type="button" *ngFor="let item of slides; let i = index" class="col" data-bs-target="#historyDiv"
        [attr.data-bs-slide-to]="i" [attr.data-slide-to]="i" [class.active]="!i"
        [attr.aria-current]="!i?'true':'false'">
        <div class="centerer">
          <div>{{item.year}}</div>
          <div class="bullet"></div>
        </div>
      </button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item" data-bs-interval="false" *ngFor="let item of slides; let i = index"
        [class.active]="!i">
        <div class="row">
          <div class="col-6 col-image">
            <img src="/assets/Images/history/{{item.img}}" class="d-block w-100" alt="{{item.title}}">
          </div>
          <div class="col-6 d-none d-md-block">
            <h2>{{item.year}}</h2>
            <h3>{{item.title}}</h3>
            <p>{{item.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#historyDiv" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#historyDiv" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
</div>
<!-- Section Testimonial End -->
