<!-- Header Start -->
<header class="navigation">
  <div class="header-top ">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-4 col-md-12">
          <div class="top-brand d-flex text-lg-left ">
            <a class="navbar-brand" href="index.html">
              <img src="assets/Images/logo/logo1Azul.png" alt="" width="140">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="header-top-socials d-flex text-lg-center justify-content-center">
            <a href="https://www.facebook.com/profile.php?id=100083112133568" target="_blank" aria-label="facebook"><img
                src="assets/Images/rrss/facebook.png" alt="" width="22" class="face"></a>
            <a href="https://www.linkedin.com/company/productos-bituminosos-s-a/" target="_blank" aria-label="linkedin"><img src="assets/Images/rrss/linkedin.png"
                alt="" width="22" class="linkedin"></a>
            <a href="https://www.instagram.com/eco_asfalto/" target="_blank" aria-label="instagram"><img src="assets/Images/rrss/instagram.png" alt="" width="22"
                class="insta"></a>
            <a href="https://www.youtube.com/channel/UC2IsaajFLqWSZdSLjzmZQyA" target="_blank" aria-label="youtube"><img src="assets/Images/rrss/youtube.png" alt="" width="22"
                  class="insta"></a>
          </div>
        </div>



        <div class="col-lg-4 col-md-8 text-lg-end text-md-end">
          <div class="header-top-info mb-2 mb-md-0">
            <a routerLink="/noticias" class="btn btn-solid-border btn-round-full nav">NOTICIAS</a>
            <a routerLink="/contacto" class="btn btn-solid-border btn-round-full nav">CONTACTO</a>
            <!-- <a routerLink="/contacto" class="btn btn-solid-border btn-round-full nav"
              style="margin-left:6px !important;"><img src="assets/Images/logo/mapsBlanco.png" alt="" width="23"></a> -->
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="navbar pt-0 pb-0 " style="padding-top: 8px !important; padding-bottom: 8px !important">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg px-0 py-4 pb-3 pt-3">

            <input type="checkbox" class="openHeader" id="openHeader">
            <label for="openHeader" class="arrowsHeader">
              <div class="line horiz-1"></div>
              <div class="line horiz-2"></div>
              <div class="line horiz-3"></div>
            </label>

            <div class="collapse navbar-collapse text-md-end " id="navbarsExample09">
              <ul class="navbar-nav">

                <li class="nav-item dropdown @@about">
                  <a class="nav-link dropdown-toggle" routerLink="/quienessomos" id="dropdown03" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="padding:0px !important;">QUIENES SOMOS&nbsp;<i
                      class="fas fa-chevron-down small"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown03">
                    <li><a class="dropdown-item" routerLink="/quienessomos" style="padding-bottom:20px !important;">>
                        PLANTAS Y OFICINAS</a></li>
                    <li><a class="dropdown-item" routerLink="/quienessomos" style="padding-bottom:10px !important;">>
                        PRESENCIA GLOBAL</a></li>

 
                  </ul>
                </li>
                <li class="nav-item @@service"><a class="nav-link" routerLink="/actividades">ACTIVIDADES</a></li>
                <li class="nav-item @@project"><a class="nav-link" routerLink="/compromiso">COMPROMISO</a></li>
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/ipa">INDICE I.P.A.</a>
                </li>
                <li class="nav-item dropdown @@blog">
                  <a class="nav-link dropdown-toggle" href="#" aria-haspopup="true"
                    routerLink="/innovacion">INNOVACIÓN</a>


                </li>
                <li class="nav-item @@contact"><a class="nav-link" routerLink="/productos">PRODUCTOS</a></li>
              </ul>

 
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Close -->
