<section class="section about-2 pt-0 pb-0">
	<div class="container d-flex align-content-center justify-content-center pt-0 pb-0">
        <h2 class="mt-3 mb-4 position-relative content-title pt-0 pb-0" >Productos</h2>
    </div>
</section>        



<section class="section about-2 position-relative pt-0">
    <div class="container">
      <div class="row">
  
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            CEMENTOS ASFÁLTICOS POR GRADOS PG
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <h3 class="card-title">CEMENTOS ASFÁLTICOS POR GRADOS PG</h3> <br>
            <h6 class="card-title">SUPERPAVE (USA)</h6> <br>
            <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
            <p class="card-text parrafo">La clasificación de los cementos asfálticos como grados PG fue desarrollada para satisfacer las nuevas demandas por desempeño de los materiales para Mezclas Asfálticas de distintos tipos, bajo la normativa SUPERPAVE, cumpliendo las exigencias de máximas y mínimas temperaturas de servicio de los pavimentos.</p>
            <a href="assets/Images/productos/CA por Grado PG V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp; Ver Ficha Técnica</a>
            
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            CEMENTOS ASFÁLTICOS POR PENETRACION
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">CEMENTOS ASFÁLTICOS POR PENETRACION</h3> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">El cemento asfáltico es el principal material usado para pavimentación de carreteras y consiste en una mezcla bituminosa de color negro, que se obtiene a partir del proceso de destilación fraccionada del crudo de petróleo, constituido esencialmente por hidrocarburos de distinto peso molecular. <br>

                    Entre la gama de cementos asfálticos elaborados por Probisa están aquellos del tipo convencional, clasificados de acuerdo al grado de penetración, tipo CA 60-80 y CA 80-100.</p>
                <a href="assets/Images/productos/CA por Penetracion V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp; Ver Ficha Técnica</a>
            </div>

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            CEMENTOS ASFÁLTICOS POR VISCOSIDAD
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">CEMENTOS ASFÁLTICOS POR VISCOSIDAD</h3> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">El cemento asfáltico es el principal material usado para pavimentación de carreteras y consiste en una mezcla bituminosa de color negro, que se obtiene a partir del proceso de destilación fraccionada del crudo de petróleo, constituido esencialmente por hidrocarburos de distinto peso molecular. <br>

                    Entre la gama de cementos asfálticos elaborados por Probisa están aquellos del tipo convencional, clasificados de acuerdo al grado de viscosidad, tipo <b>CA 24 y CA 14</b>.</p>
                <a href="assets/Images/productos/CA por Viscosidad V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            ECOASFALTO
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">EcoAsfalto</h3> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">Ecoasfalto es una mezcla de asfalto en frío, elaborada con materias primas ecológicas, con la intención de preservar el medio ambiente, destinada para la reparación de baches y deformaciones de pavimentos de asfalto y hormigón, como también la ejecución de recapados localizados. Dentro de las principales características  que posee este producto está su aplicación en diferentes condiciones ambientales, incluso en relleno de baches que hayan estado saturados de agua. De rápida aplicación y pronta apertura a tránsito.</p>
                <a href="assets/Images/productos/ECOasfalto  V.04 22.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            EMULCLEAN, EMULCLEAN PLUS
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">Emulclean, Emulclean Plus</h3> <br>
                <h6 class="card-title">Emulsión Asfáltica Termo-Adherente</h6> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">
                    
                    <b>Emulclean</b> es una emulsión termo-adherente, de rotura rápida, a base de asfalto y aditivos, especialmente formulada para riegos de liga o adherencia, de rápida aplicación y apertura al tránsito. <br>

                    <b>Emulclean Plus</b>, es la versión modificada con polímeros y, consiste en la adición de polímeros y aditivos especialmente formulada para la ejecución de riegos de liga o adherencia de mezclas asfálticas de rodadura delgadas de alto desempeño, normalmente elaboradas con cementos asfálticos modificados.

                </p>
                <a href="assets/Images/productos/Emulclean y Emulclean Plus V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            EMULSIÓN ASFÁLTICA CRS-2
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">Emulsión Asfáltica CRS-2</h3> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    Emulsión asfáltica catiónica de quiebre Rápido, viscosidad alta, color café oscuro y estado líquido. Las emulsiones están compuestas por una dispersión de cemento asfáltico, agua y agente emulgador. Para producir una emulsión es necesario dispersar el asfalto en pequeñísimos glóbulos e incorporar agentes emulsificantes para hacer estable el sistema, dotando a dichos glóbulos de una carga eléctrica.
                </p>
                <a href="assets/Images/productos/Emulsion CRS-2 V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            EMULSIÓN ASFÁLTICA CSS-1H
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">Emulsión Asfáltica CSS-1h</h3> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    Emulsión asfáltica catiónica de quiebre lento, de residuo duro, color café oscuro y estado líquido. Las emulsiones están compuestas por una dispersión de cemento asfáltico, en agua y agente emulgador. Para producir una emulsión es necesario dispersar el asfalto en pequeñísimos glóbulos e incorporar agentes emulsificantes para hacer estable el sistema, dotando a dichos glóbulos de una carga eléctrica.
                </p>
                <a href="assets/Images/productos/Emulsion CSS-1h V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            EMULSION ROTURA CONTROLADA, ERC
          </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">Emulsión Rotura Controlada, ERC</h3> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    Emulsión asfáltica catiónica de quiebre controlado, de residuo duro, color café oscuro y estado líquido. Las emulsiones están compuestas por una dispersión de cemento asfáltico, agua y emulgador para hacer estable el sistema, dotando a dichos glóbulos de una carga eléctrica. Diseñadas especialmente para aplicación en Lechadas Asfálticas (Sellos Slurry) en tratamiento de conservación.
                </p>
                <a href="assets/Images/productos/Emulsion ERC V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
            EVATECH
          </button>
        </h2>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">Evatech</h3> <br>
                <h6 class="card-title">Membrana Impermeabilizante</h6> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    <b>Evatech</b> en un ligante asfáltico modificado con un alto contenido de polímeros específicos para la obtención de membranas, las que normalmente forman parte de sistemas de impermeabilización.
                </p>
                <a href="assets/Images/productos/Evatech V.07.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

          </div>
        </div>
      </div>


      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEleven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
            POLYBIT
          </button>
        </h2>
        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">Polybit</h3> <br>
                <h6 class="card-title">Cemento Asfáltico Modificado con Polímeros</h6> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    Los cementos asfálticos son mezclas bituminosas de color negro, que se obtienen a partir del proceso de destilación fraccionada del crudo de petróleo, constituidos esencialmente por hidrocarburos de distinto peso molecular. <br>

                    <b>Polybit</b> es un cemento asfáltico modificado, mediante la incorporación de polímeros tipo SBS, que mejoran las propiedades reológicas del asfalto, otorgando a las Mezclas Asfálticas características mejoradas, tales como mayor resistencia a la deformación plástica (ahuellamiento) y a la fatiga (agrietamiento).
                </p>
                <a href="assets/Images/productos/Polybit V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwelve">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
            POLYMULS L, R y ERC-M
          </button>
        </h2>
        <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">Polymuls L, R y ERC-M</h3> <br>
                <h6 class="card-title">Emulsiones modificadas con polímeros</h6> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    La línea <b>Polymuls</b> corresponde a nuestras emulsiones modificadas con polímeros, siendo <b>Polymuls L</b> la versión elastomérica de quiebre lento, <b>Polymuls R</b> de quiebre rápido y <b>Polymuls ERC-M</b> de quiebre controlado. Las emulsiones modificadas con polímeros están constituidas por una base asfáltica que contiene elastómeros y aditivos que le otorgan un residuo asfáltico de menor susceptibilidad térmica, muy elástico y adhesivo, brindando un resultado de comportamiento mejorado, respecto de similares aplicaciones con emulsiones convencionales.
                </p>
                <a href="assets/Images/productos/Polymuls L R ERC-M V.05.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>


          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThriteen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThriteen" aria-expanded="false" aria-controls="flush-collapseThriteen">
            POLYSELLO
          </button>
        </h2>
        <div id="flush-collapseThriteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThriteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">

            <div class="accordion-body">
                <h3 class="card-title">POLYSELLO</h3> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    <b>Polysello</b> es un sello tipo mastic asfáltico de aplicación en caliente, elaborado con asfaltos modificados, elastómeros y aditivos que le otorgan un gran poder de adherencia en superficies tanto de asfalto como hormigón. De características elásticas, flexible, altamente impermeable y resistente al envejecimiento.
                </p>
                <a href="assets/Images/productos/Polysello V.10.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>


          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFifteen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
            TECNOBACHE
          </button>
        </h2>
        <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">TecnoBache</h3> <br>
                <h6 class="card-title">Mezcla Asfáltica en Frío Predosificada para Bacheo</h6> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    <b>TecnoBache</b> es una mezcla asfáltica en frío predosificada, fabricada especialmente para bacheos de pavimentos de asfalto y hormigón. Se puede utilizar en diferentes condiciones ambientales, incluso en baches con agua. De fácil y rápida aplicación, a temperatura ambiente y apertura inmediata al tránsito.
                </p>
                <a href="assets/Images/productos/Tecnobache V.03.21.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFourteen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
            VIAPRIME
          </button>
        </h2>
        <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            
            <div class="accordion-body">
                <h3 class="card-title">Viaprime</h3> <br>
                <h6 class="card-title">Emulsión Imprimante</h6> <br>
                <h6 class="card-title">CARACTERÍSTICAS</h6> <br>
                <p class="card-text parrafo">                    
                    <b>Viaprime</b> es una emulsión asfáltica catiónica especialmente formulada para la imprimación de bases granulares. <br>

                    El material presenta una formulación que permite cohesionar las partículas superficiales de la base granular compactada y lograr la adhesión y unión de ésta con la respectiva capa asfáltica posterior.
                </p>
                <a href="assets/Images/productos/Viaprime V.07.20.pdf" target="new" class="btn btn-main"><i class="bi bi-info-square-fill"></i>&nbsp;Ver Ficha Técnica</a>
            </div>


          </div>
        </div>
      </div>



  </div>
  
  
    </div>
    </div>
  </section>
  
