.fondo {
  margin-left: 4.6rem !important;
}

.noticiasInd {
  background-color: rgb(251, 252, 255) !important;
  margin-bottom: 20px !important;
  padding: 0px !important;
}

.tituloNoticias {
  color: rgb(251, 252, 255);
  background-color: var(--main-400);
  padding: 5%;
}

.pad {
  padding-top: 3%;
  padding-right: 3%;
}

.pad-fecha {
  padding-right: 3%;

}

.tituloNoticias:hover {
  color: var(--terciary-100);
}

@media (max-width: 991px) {
  .fondo {
    margin-left: 0px !important;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .tituloNoticias {
    padding: 2%;
  }
}

@media (max-width: 767px) {
  .clearfix{
    text-align: center;
  }
}

.contenedor-carousels {

  // border: 2px solid #000;
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 0px 0px 3px lightgray;
  display: flex;
  flex-direction: column;
  height: 625px;
  overflow: hidden;
  margin: 10px 0;
}

.move-carousel {

  display: flex;
  flex-direction: column;
  transition: translate 0.5s ease;
}

.fondo button {
  background: transparent;
  border: none;
  font-size: 24px;
  padding: 5px 8px;
}

.fondo button:hover {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.item-carousel {
  height: 182.2px;
}

//carrusel horizontal :
.fotos-container {
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.fotos-container img {
  width: 300px;
  height: 200px;
  margin-right: 25px;
  flex: 0 0 33%;
}

.fotos-container button {
  background: transparent;
  border: none;
  font-size: 24px;
  padding: 5px 8px;
}
.fotos-container img:last-child {
  margin-right: 0;
}

/***********/
.descripcion {
  position: relative;

  .limited-height {
    max-height: 600px;
    overflow: visible;
    margin-bottom: 0;
  }

  .read-more {
    /*position: absolute;
    bottom: 0;
    right: 0;*/
    background-color: white;
    /*padding: 5px;
    margin: 0;
    margin-top: 5px;*/
    text-align: right;

    a {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }

}


.contenedor-carrousel{
  overflow: hidden;
}

.carrousel{
  display: flex;
  translate: 0;//-35.9%;
  transition: translate 0.5s ease;
}

.botonLeer{
  background: #3B5CB8;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: #3B5CB8;
}

.botones-leer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
