.fondo{
    margin-left: 4.6rem !important;
}
.noticiasInd {
    background-color: rgb(251, 252, 255) !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
}
.tituloNoticias {
    color: rgb(251, 252, 255);
    background-color: var(--main-400);
    padding: 5%;
}
.pad {
    padding: 3%;
}
.tituloNoticias:hover {
    color: var(--terciary-100);
}
@media (max-width: 990px) {
    .fondo {
        margin-left: 0px !important;
    }
    .tituloNoticias {
        padding: 2%;
    }
}
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-wrapper {
    display: flex;
    width: calc(100% * 3);
    transition: transform 0.5s ease-in-out;
  }
  .carousel-slide {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  }
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2em;
    z-index: 1;
  }
  .carousel-button-prev {
    left: 0;
  }
  .carousel-button-next {
    right: 0;
  }

  @media (max-width: 767px) {
    .main-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }





