
<!-- Section About Start -->
<section class="section about-2 position-relative pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					
					<h2 class="mt-3 mb-4 position-relative content-title">¿Quienes Somos?</h2>
					<p class="mb-5 parrafo">PRODUCTOS BITUMINOSOS S.A., PROBISA, es una empresa Petro Química cuya actividad es la Importación, producción y comercialización de asfaltos utilizados en la construcción de obras viales. Pertenece al grupo francés Internacional VINCI a través de su filial VINCI CONSTRUCTION y está presente en el mercado de asfaltos en Chile desde 1995. <br>
					Sus oficinas centrales están ubicadas en calle Cerro Sombrero N°1010, comuna de Maipú, en la Región Metropolitana y para el desarrollo de su actividad, PROBISA cuenta con cuatro importantes instalaciones para almacenar, producir y distribuir asfaltos ubicadas en el norte, centro y sur del país. Además, tenemos un terminal de Asfaltos en el Puerto de Ventanas de 40.000 TM de capacidad.</p>

				<!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-item-img">
					<img loading="lazy" src="assets/Images/bien-etiquetadas//estanques.jpg" alt="about-image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>



<!--  Section Services Start -->
<section class="section team pt-5 pb-5" style="background-color:var(--main-500) !important; color:white !important;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
				
					<h2 class="mt-3 content-title" style="color:white">Plantas y Oficinas</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img loading="lazy" src="assets/Images/bien-etiquetadas//planta-arica.jpg" alt="team" class="img-fluid w-100">
						<div class="team-img-hover">
							

								<div class="team-item-content align-items-center">
						<h2 class="mt-3 mb-0 text-capitalize" style="font-weight:800; color:var(--main-500);text-align: center;">Planta Arica</h2> <br/>
						<h4 style="font-weight: 700; color:var(--main-500); text-align: center;"> Las Palmas N° 1011</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> Parque Industrial Zofri</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> Chacalluta, Chile</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +562 2675 9273</h4>	
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +569 3260 1449</h4>	
						</div>


						</div>
					</div>
		
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img loading="lazy" src="assets/Images/bien-etiquetadas//planta-mejillones.jpg" alt="team" class="img-fluid w-100">
						<div class="team-img-hover">
							
								<div class="team-item-content align-items-center">
						<h2 class="mt-3 mb-0 text-capitalize" style="font-weight:800; color:var(--main-500);text-align: center;">Planta Mejillones</h2> <br/>
						<h4 style="font-weight: 700; color:var(--main-500); text-align: center;"> Av. Quinta Industrial Nº 555</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> Mejillones, Chile</h4>
						
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +562 2675 9281</h4>	
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +569 9140 0037</h4>	
						</div>


						</div>
					</div>
					<!-- <div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Jason roy</h4>
						<p>UI/UX Designer</p>
					</div> -->
				</div>
			</div>



			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 ">
					<div class="team-item position-relative">
						<img loading="lazy" src="assets/Images/bien-etiquetadas//planta-santiago.jpg" alt="team" class="img-fluid w-100">
						<div class="team-img-hover">
							
								<div class="team-item-content align-items-center">
						<h2 class="mt-3 mb-0 text-capitalize" style="font-weight:800; color:var(--main-500);text-align: center;">Casa Matriz</h2> <br/>
						<h4 style="font-weight: 700; color:var(--main-500); text-align: center;"> Cerro Sombrero Nº1010, Maipú</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> Santiago, Chile</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> Atención a Clientes, horario continuado</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> contacto@probisa.cl</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> dventasprobisa@probisa.cl</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +562 2675 9200</h4>	
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +569 9509 8641</h4>	
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +569 9509 8663</h4>
				
						</div>

						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5 mb-lg-0">
					<div class="team-item position-relative">
						<img loading="lazy" src="assets/Images/bien-etiquetadas//planta-talcahuano.jpg" alt="team" class="img-fluid w-100">
						<div class="team-img-hover">

							<div class="team-item-content align-items-center">
						<h2 class="mt-3 mb-0 text-capitalize" style="font-weight:800; color:var(--main-500);text-align: center;">Planta Talcahuano</h2> <br/>
						<h4 style="font-weight: 700; color:var(--main-500); text-align: center;"> Camino a Lenga Nº 3361</h4>
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> Talcahuano, Chile</h4>
						
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +562 2675 9251</h4>	
						<h4 style="font-weight: 700; color:var(--main-500);text-align: center;"> +569 8892 6286</h4>	
						</div>

						</div>
					</div>

				</div>
			</div>
        </div>    
    </div>    
</section>





<!--  Section Estrategias -->
<section class="section about-2 position-relative pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					
					<h2 class="mt-3 mb-4 position-relative content-title">Presencia Global</h2>
					<p class="mb-5 parrafo">PROBISA es parte de VINCI CONSTRUCTION, uno de los principales actores mundiales en la construcción y concesiones, nacido de la fusión con EUROVIA, reúne a más de 1.000 empresas con 115.000 empleados en alrededor de 100 países, con más de 75.000 obras al año.

					Su experiencia se extiende a la construcción, obras civiles, infraestructuras de transporte y actividades especializadas asociadas a la edificación, obras públicas y desarrollo urbano.</p>

				<!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
				</div>
			</div>
			<div class="col-lg-4 d-flex align-items-center">
				<div class="about-item-img">
					<img loading="lazy" src="assets/Images/bien-etiquetadas//vinci-construction.png" alt="about-image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Estrategias End -->

<!--  Section Estrategias -->
<section class="section about-2 position-relative  pt-5 pb-5" style="background-color:var(--main-500) !important; color:white !important;">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					
					<h2 class="mt-3 mb-4 position-relative content-title" style="color:white">Estrategias</h2>
					<p class="mb-5 parrafo">PROBISA, se abastece principalmente de asfalto importado proveniente de USA y Europa para lo cual cuenta con importantes instalaciones de almacenamiento en sus Terminales del norte, en tanto que en la zona centro, cuenta con los servicios del terminal de Cono Sur, principal Terminal de almacenamiento de asfalto en Sud América y del país, del cual PROBISA es propietario en un 50%. De esta forma podemos asegurar y garantizar un suministro confiable para el buen desarrollo de las obras de nuestros clientes.</p>

				<!-- 	<a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-item-img">
					<img loading="lazy" src="assets/Images/bien-etiquetadas//estrategias.jpg" alt="about-image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Estrategias End -->