

<!-- Section white1 Start -->
<section class="section about-2 position-relative pb-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 d-flex align-items-center align-content-center">
          <div class="about-item pr-3 mb-5 mb-lg-0">
            
            <h2 class="mt-3 mb-4 position-relative content-title">Centro de desarrollo e investigación(CDI)</h2>
            <p class="mb-5 parrafo">Con el objetivo de ser pioneros en la investigación y desarrollo en el ámbito vial, en marzo de 2006, PROBISA en conjunto con Bitumix, pusieron en funcionamiento el Centro de Desarrollo e Investigación (CDI), único organismo privado del país con equipamiento de última tecnología que permite analizar los distintos casos de nuestros clientes, realizar diagnósticos y de esta forma proponer soluciones y diseños que satisfagan sus necesidades.<br>
  
            Gracias a las modernas instalaciones del laboratorio, un equipo profesional altamente especializado y el constante apoyo de nuestra empresa matriz VINCI CONSTRUCTION, hemos liderado el proceso de innovación y traspaso de la tecnología desarrollada a nivel nacional e internacional, poniendo a disposición de los distintos actores relacionados con la infraestructura vial, nuestros servicios de auscultaciones, asesorías en mantenimiento vial y desarrollo de soluciones de ingeniería.</p>
  
          <!--  <a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-item-img">
            <img loading="lazy" src="assets/Images/bien-etiquetadas/probisa-CDI.jpg" alt="about-image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  <!-- Section blue1 Start -->
  <section class="section pt-5 pb-5" style="background-color:var(--main-500) !important; color:white !important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="mt-3 mb-4 position-relative content-title" style="color:white">Investigación y Desarrollo de productos</h2>
            <p class="mb-5 parrafo">
            Las investigaciones realizadas por el CDI han permitido que hoy Chile cuente con productos y servicios sustentables, con mayor durabilidad, sumado a una gran adaptabilidad a los requerimientos individuales de cada obra. <br>
  
            En cuanto a los proyectos elaborados por el CDI, cabe destacar la adaptación a nuestro país de tecnología que apunta a elaborar mezclas asfálticas para condiciones extremas como altos niveles de tránsito y temperaturas elevadas(grado de desempeño) Por otra parte, el desarrollo de un portafolio de soluciones en mezclas asfálticas dependiendo de las solicitaciones de tránsito, condición de la estructura del pavimento y condiciones climáticas. <br>
            Probisa ha puesto en funcionamiento la caracterización de los pavimentos, implementando equipos para PG en la zona norte y centro del país.
            </p>
        </div>
      </div>
    </div>    
  </section>
  <!-- Section blue1 End -->
  

 <!-- Section white2 Start -->
<section class="section about-2 position-relative pb-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 d-flex align-items-center align-content-center">
        <div class="about-item pr-3 mb-5 mb-lg-0">
          
          <h2 class="mt-3 mb-4 position-relative content-title">ECOASFALTO</h2>
          <p class="mb-5 parrafo">Desde hace varios años, incluso desde hace décadas, el medio ambiente, así como su protección y cuidado ha calado muy hondo en las políticas de PROBISA, por lo que en el área de Investigación y desarrollo (I+D) surgió la necesidad de evaluar distintas opciones para remplazar los solventes comúnmente utilizados, por uno ecológico y amigable con el medio ambiente.
            <br>
            Ecoasfalto es la nueva mezcla de asfalto en frío para bacheo, elaborada con materias primas ecológicas, áridos reciclados y solventes no contaminantes, con la intención de preservar el medio ambiente, destinada a la reparación de baches y deformaciones de pavimentos de asfalto y hormigón, para ser utilizado en calles, autopistas, aeropuertos, estacionamientos, etc. <br>
            Permite su aplicación en diferentes climas, incluso en baches saturados de agua. <br>
            De rápida aplicación y pronta apertura a tránsito. <br>
            Producto ecológico de calidad premium.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="about-item-img">
          <img loading="lazy" src="assets/Images/bien-etiquetadas/eco2-probisa.png" alt="about-image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section blue2 start -->
<section class="section about-2 position-relative pt-5 pb-5" style="background-color:var(--main-500) !important; color:white !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="about-item-img">
          <img loading="lazy" src="assets/Images/bien-etiquetadas/clasificacion_comportamiento.jpg" alt="about-image" class="img-fluid">
        </div>
      </div>


      <div class="col-lg-8 d-flex align-items-center align-content-center">
        <div class="about-item pr-3 mb-5 mb-lg-0">
          
          <h2 class="mt-3 mb-4 position-relative content-title" style="color:white;"> CLASIFICACIÓN POR COMPORTAMIENTO</h2>
          <p class="mb-5 parrafo">Históricamente los cementos asfálticos fueron clasificados a través de ensayos empíricos, mayoritariamente físicos, dada la compleja correlación entre composición química y propiedades reológicas de comportamiento. Así es como, inicialmente y durante años, fue el ensayo de penetración, una medida física de dureza, el que gobernó la clasificación del material. Posteriormente, la clasificación de éstos estuvo basada en ensayos fundamentales orientados a medir propiedades ingenieriles, tal como la viscosidad, medida a diferentes temperaturas.
                                En ambas metodologías de clasificación fue necesario desarrollar e ir incorporando nuevos ensayos de laboratorio de dieran cuenta de las diferentes características entre ligantes convencionales y los ligantes modificados. Es así como se ha llegado a tener diferentes especificaciones que dan cuenta de la presencia y dosis de uno u otro modificador. <br/>
                                
                                Desde hace ya algunos años, se ha hecho necesario atender nuevas demandas, de desempeño o de comportamiento de los materiales. Es así como nace un nuevo sistema de clasificación de los cementos asfálticos, el Sistema de Clasificación por desempeño PG (Performance Grade) del cual PROBISA se ha hecho pionero, enfocándose en el desarrollo y la caracterización ahora por desempeño de los distintos ligantes con el fin de satisfacer la demanda de mezclas asfálticas acordes a normativas SUPERPAVE y clima de Chile, desde las más bajas temperaturas de servicio en el sur, hasta las más altas temperaturas de servicio en la zona norte del país. <br/>
                                
                                El mencionado Sistema cuenta con una avanzada tecnología y equipos de gran precisión miden la respuesta, por desempeño, de los cementos asfálticos empleados en pavimentación. Se utiliza para un amplio rango de mezclas asfálticas de pavimentación vial y aeroportuaria, en particular pistas de altas solicitaciones, pistas de aeropuertos, pavimentos industriales y de puertos.</p>
        
        <!--  <a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- Section blue2 End -->

<!-- Section white3 Start -->
<section class="section about-2 position-relative pb-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-center align-content-center">
        <div class="about-item pr-3 mb-5 mb-lg-0">
          
          <h2 class="mt-3 mb-4 position-relative content-title">EMULCLEAN, EMULSIÓN ASFÁLTICA TERMO-ADHERENTE</h2>
          <p class="mb-5 parrafo">Durante muchos años los riegos de liga o de adherencia entre capas asfálticas se realizaron con emulsiones convencionales. Sin embargo, las ventanas de trabajo, principalmente en los trabajos de mantención de autopistas, son cada vez más reducidas en tiempo.  Ello ha impuesto nuevas demandas en la ejecución de los así llamados “riegos de liga o adherencia”. Ello motivó a Probisa, con el apoyo de sus principales de Vinci, a desarrollar una formulación especifica de las emulsiones asfálticas destinadas a estos fines. Así es como a partir de 2015 Probisa es la primera compañía en Chile, que pone a disposición de sus clientes las emulsiones termo-adherentes. <br> <br>

            <b>Emulclean</b> es una emulsión termo-adherente, de rotura rápida, a base de asfalto y aditivos, especialmente formulada para riegos de liga o adherencia, de rápida ejecución y apertura al tránsito. <br>                                
            <b>Emulclean Plus</b>, es la versión modificada con polímeros para los riegos de liga o adherencia de mezclas asfálticas de rodadura delgadas o ultradelgadas, de alto desempeño, normalmente elaboradas con cementos asfálticos también modificados.
            <br>
            Tanto Emulclean como Emulclean Plus, permiten:
            <br>
            *Mayor capacidad adherente y menor tiempo de quiebre, curado, secado y apertura al tránsito. <br>
            *Gran cohesión en bajas y altas temperaturas de servicio. <br> 
            *Menor riesgo de exudación en un amplio rango de temperaturas de servicio. <br>
            *Fácil aplicación, sin requerir ser diluida para su aplicación. <br> 
            *Permite transitar equipos sobre el riego, sin adherirse a los neumáticos. <br>
            Las emulsiones Emulclean permiten aplicar riegos de liga limpios, eficaces y permanentes.  Se aplican sobre superficies de asfalto u hormigón y por su naturaleza termo-adherente, de quiebre, curado y secado rápido, asegura un excelente poder de adherencia entre las capas asfálticas a colocar.  En particular cuando se trata de asegurar la liga de capas delgadas o ultradelgadas.</p>
        <!--  <a href="contact.html" class="btn btn-main btn-round-full">Get started</a> -->
        </div>
      </div>
      <div class="col-lg-7">
        <div class="about-item-img">
          <img loading="lazy" src="assets/Images/bien-etiquetadas/camion-imprimador-probisa.jpg" alt="about-image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>



